body{
    margin: 0;
  }
  
header {
    background-color: black;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
}

.menu {
    display: inline-block;
    padding-top: 20px;
    padding-right: 50px;
}

.menu li {
    display: inline-block;
    color: white;
}

.menu li a {
    display: inline;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: gray;
}

.logo{
    width: 150px;
}

.brand {
    margin-right: auto;
    padding-left: 50px;
}

.dropdown {
    position: absolute;
    background-color: black;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li:hover > .dropdown {
    display: block;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
    padding: 7px;
    color: white;
    text-decoration: none;
    text-align: left;
}

.dropdown li:hover > a {
    color: gray;
}

#topPhrase{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-image: url("../images/ITteam.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    text-shadow: 4px 4px 6px #000000;
}

.yellow {
    text-align: center;
    font-size: 30px;
    padding: 50px 500px 150px;
}